/**.user-profile {
  position: absolute;
  right:10px;
  height:200px;
}**/
.butor{
  display:flex;
  flex-direction: column;
 
  width:600px;
  height:200px;
  position: relative;
  left:15px;
}
.user-details {
  position:absolute;
  right:10px;
  width:350px;
  height:100%;
  display: flex;
  align-items: center;
  background-color: #fcf8f8; /* Light grey */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Shadow effect */
  }

.user-photo img {
  position:absolute;
  left: 110px;
  top:190px;
  width: 100px; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
  border-radius: 50%; /* Make it circular */
  object-fit: cover; /* Ensure the photo fills the circle */
  margin-right: 10px; /* Adjust spacing */
  border: 2px solid #fff; /* Optional: Add a border */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Optional: Add a shadow */
}

.user-info {
  margin-top: 10px; /* Adjust spacing */
}
.user-info p {
  position:relative;
  left:70px;
  top:0px;
  margin:5px 0;
}
.user-info h2{
  position:absolute;
  left:80px;
  top:140px;
  color: #af7a4c; /* Green */
  margin-bottom: 10px; /* Adjust spacing */
}
/* Position the user profile at the top right corner */
/**.user-profile {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: bottom 20px;
  height:100%;
}**/
/**.u1,.u2,.u3,.u4,.u5,.u6{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between; 
  position: relative;
  background-color: #7fc1e7; 
  border: none;
  color: white;
  padding: 50px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  
}**/
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centers the buttons horizontally */
}

.u1, .u2, .u3 {
  position:relative;
  top:12px;
  left:100px;
  border: none;
  background-color: #7fc1e7;
  color: white;
  padding: 90px 90px;  
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 6px 4px;
  cursor: pointer;
  border-radius: 5px;
  width: 400px; /* Set the width of each button */
  height: 400px; /* Set the height of each button */
  box-sizing: border-box;
}

 .u4, .u5, .u6,.u7 {
  position:relative;
  bottom:632px;
  
  left:600px;
  background-color: #7fc1e7;
  border: none;
  color: white;
  padding: 90px 90px;
  text-align: center;
  text-decoration: none;
  
  font-size: 16px;
  margin: 6px 4px;
  cursor: pointer;
  border-radius: 5px;
  width: 400px; /* Set the width of each button */
  height: 400px; /* Set the height of each button */
  box-sizing: border-box;
}

