.password-reset-mgr {
    height: 100vh;
    margin-left: 450px; 
     margin-right:450px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(90deg, #95ac7f, #ece98a);
  }
  
  .password-reset-mgr h2 {
    text-align: center;
    color: #0c2d0b;
  }
  
  .password-reset-mgr form {
    display: flex;
    flex-direction: column;
  }
  
  .password-reset-mgr input {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #54eb18;
    border-radius: 20px;
  }
  
  .password-reset-mgr button {
    padding: 10px;
    padding-left: 5px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .password-reset-mgr button:hover {
    background-color: #45a049;
  }
  
  .password-reset-mgr .message {
    color: green;
    text-align: center;
    margin-top: 10px;
  }
  
  .password-reset-mgr .error {
    color: red;
    text-align: center;
    margin-top: 10px;
  }
  